<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UI Power Usage Analyzation Tool</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="static/jscolor.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="hd header-lleft"></div>
    <div class="hd header-left">
      <img src="{{ url_for('static', filename='low_battery.png') }}">
    </div>
    <div class="hd header-center">
      <h1>UI Power Usage Analyzation Tool</h1>
    </div>
    <div class="hd header-right">
      <img src="{{ url_for('static', filename='full_battery.png') }}">
    </div>
    <div class="hd header-rright"></div>
  </header>
  <br>
  <div id="container">
    <form id="up_form" action="/upload" method="post" enctype="multipart/form-data">
      <div id="options">
        <p>
          Phone
          <select id="phone" name="phone">
            <option value="gn5movie">Galaxy Note 5</option>
            <option value="pxldefault">Pixel XL default</option>
            <option value="pxlpicture">Pixel XL picture</option>
          </select>
		  | Number of color groups(5 to 15) <input id="Kvalue" name="Kvalue" type="number" min="5" max="15" value="5">
        </p>
      </div>
      <div id="left">
        <p>Original Image</p>
        {% if filename %}
          <img id="image" src="{{ url_for('send_file', filename=filename) }}">
        {% else %}
		  <img id="image" src="static/No_Image_Available.jpg">
        {% endif %}
        <input type="hidden" name="hidden" value="{{ filename }}">
        <input id="file_input" name="image" type="file">
        <input id="initialize" type="hidden" name="initialize" value="0">

		<div id="mimagediv">
		{% if filename %}
			<p>Clustered Image</p>
			<img id="kimage" src="uploads/K_means.jpg">
			<!--color palette-->
			<div id="palette" style="height: 300px; width: 100%">
				<p>Color Palette</p>
				{% for colorInfo in colorUsage %}
				<div class='color-row' style='background-color: rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }}); height: {{ colorInfo[5] }}%;'></div>
				{% endfor %}
			</div>
		{% endif %}
		</div>
	  </div>
	  <div id="right">
		  <div id="overall" class="blackbox">
			  {% if RGBP %}
			  <h3>Original Image - Total Power Usage: {{ RGBP[3] }}mW</h3>
			  Average red: {{ RGBP[0] }}<br>
			  Average green: {{ RGBP[1] }}<br>
			  Average blue: {{ RGBP[2] }}<br>
			  <!--<div id="colorGraph">
		 </div>-->
		 {% else %}
		 <div style="text-align: center; vertical-align: middle">
		 	<h2>waiting for image</h2>
		 </div>
		 {% endif %}
		  </div>
		 <script type="text/javascript"> var index=0; </script>
		 {% if not changed_colorUsage %}
			 {% for colorInfo in colorUsage %} 
				<div class='blackbox'> 
				<h4>{{ colorInfo[0] + 1 }}) RGB: {{ colorInfo[4] }} ({{ colorInfo[5] }}%)</h4>
					<div class='colorusage_left'> 
						<button id="color_{{ colorInfo[0] + 1 }}" class="colorusage_color jscolor {valueElement:null}"></button> 
						<input name="{{ colorInfo[0] }}" id="{{ colorInfo[0] }}" type='hidden'/>
					</div> 
					<div class='colorusage_right'> 
					<p>Power Usage: {{ colorInfo[2][0] }}mW</p> 
					<p>Power Usage Ratio: {{ colorInfo[3] }}%</p> 
					</div> 
				 </div> 
				 <script type="text/javascript"> index++; </script>
			  {% endfor %}
		  {% else %}
		  	{% for colorInfo in changed_colorUsage %} 
				<div class='blackbox'> 
				<h4>{{ colorInfo[0] + 1 }}) RGB: {{ colorInfo[4] }} ({{ colorInfo[5] }}%)</h4>
					<div class='colorusage_left'> 
						<button id="color_{{ colorInfo[0] + 1 }}" class="colorusage_color jscolor {valueElement:null}"></button> 
						<input name="{{ colorInfo[0] }}" id="{{ colorInfo[0] }}" type='hidden'/>
					</div> 
					<div class='colorusage_right'> 
					<p>Power Usage: {{ colorInfo[2][0] }}mW</p> 
					<p>Power Usage Ratio: {{ colorInfo[3] }}%</p> 
					</div> 
				 </div> 
				 <script type="text/javascript"> index++; </script>
			  {% endfor %}
		  {% endif %}
<input name="colornum" id="colornum" type="hidden" value="{{ index }}">
			<script type="text/javascript"> 
				document.getElementById('colornum').value = index; 
				console.log(index); 
			</script>
		  {% if not (colorUsage or changed_colorUsage) %}
		  {% else %}
		  	 <div class='blackbox'>
			 	<button type="button" id="color_change" onclick="update_color()" style="width: 100%; height: 50px; margin: auto">
					<h3>Color Change</h3>
				</button>
			 </div>
		  {% endif %}
	  </div>
	</form>
	<div id="after">
		<p>Modified Image</p>
		<div id="mimagediv">
			{% if filename %}
			<img id="mimage" src="uploads/translated_image.jpg">
			<p>predicted power: {{ trInfo[0] }}mW </p>
			<p>{{ trInfo[1] }}% reduced</p>
			<!--color palette-->
			<div id="palette" style="height: 300px; width: 100%">
				<p>Changed Palette</p>
				{% for colorInfo in changed_colorUsage %}
				<div class='color-row' style='background-color: rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }}); height: {{ colorInfo[5] }}%;'></div>
				{% endfor %}
			</div>
			{% else %}
			<img id="image" src="static/No_Image_Available.jpg">
			{% endif %}
		</div>
	</div>
  </div>
</div>
</body>
<script type="text/javascript">
function update_color() {
	//jscolor be used as a string
	{% for colorInfo in colorUsage %}
		var [Red, Green, Blue] = (document.getElementById('color_{{ colorInfo[0] + 1 }}').style.backgroundColor.split(', '));
		Red = Red.split('rgb(')[1];
		Blue = Blue.split(')')[0];
		console.log("Red: ", Red , " Green: " , Green ," Blue: ", Blue);
		var send_string = Red+','+Green+','+Blue;
		document.getElementById('{{ colorInfo[0] }}').value = send_string; 
	{% endfor %}
    $('#up_form').submit();
};

$(document).ready(function() {
  {% if not changed_colorUsage %}
	{% for colorInfo in colorUsage %}
		$('#color_{{ colorInfo[0] + 1 }}').css("background-color","rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }})");
		var [Red, Green, Blue] = (document.getElementById('color_{{ colorInfo[0] + 1 }}').style.backgroundColor.split(', '));
		Red = Red.split('rgb(')[1];
		Blue = Blue.split(')')[0];
		console.log("Red: ", Red , " Green: " , Green ," Blue: ", Blue);
		var send_string = Red+','+Green+','+Blue;
		document.getElementById('{{ colorInfo[0] }}').value = send_string; 

	{% endfor %}
  {% else %}
	{% for colorInfo in changed_colorUsage %}
		$('#color_{{ colorInfo[0] + 1 }}').css("background-color","rgb({{ colorInfo[1][0] }}, {{ colorInfo[1][1] }}, {{ colorInfo[1][2] }})");
		var [Red, Green, Blue] = (document.getElementById('color_{{ colorInfo[0] + 1 }}').style.backgroundColor.split(', '));
		Red = Red.split('rgb(')[1];
		Blue = Blue.split(')')[0];
		console.log("Red: ", Red , " Green: " , Green ," Blue: ", Blue);
		var send_string = Red+','+Green+','+Blue;
		document.getElementById('{{ colorInfo[0] }}').value = send_string; 

	{% endfor %}
  {% endif %}

});


$('#up_form').submit(function(){
      wrapWindowByMask();
  });

  {% if check %}
    {% if check[0] %}
      $('#phone').val('{{ check[0] }}').prop('selected', true);
    {% endif %}

    {% if check[1] %}
      $('#translate').val('{{ check[1] }}').prop('selected', true);
    {% endif %}

    {% if check[6] %}	
      $('#list_num').val('{{ check[6] }}');
      $('#Kvalue').val('{{ check[6] }}');
    {% endif %}
  {% endif %}

  {% if filename %}
    $('#phone').on('change', function(){
      $('#initialize').val('1');
      $('#up_form').submit();
    });

    $('#Kvalue').on('change', function(){
      $('#initialize').val('1');
      $('#up_form').submit();
    });

  {% endif %}

  $('#file_input').on('change', function(){
    $('#initialize').val('1');
	$('#up_form').submit();
  });

  function wrapWindowByMask() {
    //화면의 높이와 너비를 구한다.
    var maskHeight = $(document).height();
    var maskWidth = window.document.body.clientWidth;

    var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
    var loadingImg = '';

    loadingImg += "<div id='loadingImg' style='position:absolute; left:50%; top:40%; display:none; z-index:10000;'>";
    loadingImg += "<img src='{{ url_for('static', filename='viewLoading.gif') }}'/>";
    loadingImg += "</div>";

    //화면에 레이어 추가
    $('body').append(mask).append(loadingImg);

    //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
    $('#mask').css({
     'width' : maskWidth,
     'height': maskHeight,
     'opacity' : '0.3'
    });

    //마스크 표시
    $('#mask').show();

    //로딩중 이미지 표시
    $('#loadingImg').show();
  }

  function closeWindowByMask() {
        $('#mask, #loadingImg').hide();
        $('#mask, #loadingImg').remove();
  }
</script>
</html>
